# Sublime Text project/workspace files
*.sublime-*

# tests directory
tests/

# build system
build/

# clangd + bear
.cache/
compile_commands.json

# embedded resources
src/resources/engine/*.cpp
src/resources/engine/*.hpp

# misc files
imgui.ini
