# Sublime Text project/workspace files
*.sublime-project
*.sublime-workspace

# tests directory
Testing/

# build system
Linux_Debug/
Linux_Release/
Windows_Debug/
Windows_Release/

# misc (clangd, imgui, etc)
.cache/
compile_commands.json
imgui.ini
.vs/
