# Sublime Text project/workspace files
*.sublime-project
*.sublime-workspace

# tests directory
tests/

# build system
build/
build_raylib/

# clangd + bear
.cache/
compile_commands.json

# misc files
imgui.ini
